<footer class="footer">
  <div class="outer">
    <div class="head">
      <h3>Office Address</h3>
      <p>
        NIC Institute, Laxmi Tower, Plot No-4, 81/1, Service Road, Opp. Badarpur
        Bus Terminal, near Old Prakesh Petrol Pump, Badarpur, New Delhi 110044
      </p>
    </div>
    <div class="contact-links">
      <div>
        <p>
          <strong>Contact:</strong> <br /><a href="tel:+919582752030"
            >+91 9582752030</a
          >
        </p>
      </div>
      <div>
        <p>
          <strong>WhatsApp:</strong><br />
          <a href="https://wa.me/919582752030" target="_blank">Message Us</a>
        </p>
      </div>
    </div>
    <div class="contact-links">
      <p>
        <strong>Emails:</strong><br />
        <a href="mailto:niccomputer@gmail.com">niccomputer@gmail.com</a><br />
        <a href="mailto:ignou07135d@gmail.com">ignou07135d@gmail.com</a><br />
        <a href="mailto:contact.nicinstitute@gmail.com"
          >contact.nicinstitute@gmail.com</a
        >
      </p>
    </div>
    <div class="social-links">
      <a
        href="www.youtube.com/@NICInstitute"
        target="_blank"
        ><i class="fab fa-youtube"></i
      ></a>
      <a href="https://www.facebook.com/niccomputer" target="_blank"
        ><i class="fab fa-facebook"></i
      ></a>
      <a
        href="https://nicindia.blogspot.com/?zx=f96ebcea1dd4fe0"
        target="_blank"
        ><i class="fas fa-blog"></i
      ></a>
    </div>
  </div>
  <div class="outer">
    <div class="footer-content">
      <div class="horizontal"></div>
      <p>&copy; 2025 NIC Institute. All Rights Reserved.</p>
      <p>
        Empowering Education | CITS : VO/NGO (DL/2009/0023143) | Contact:
        +91-9582752030 | Email: info@nicinstitute.in <br />

        Developers :
        <a href="https://www.linkedin.com/in/harish-gupta-dev" target="_blank"
          >Harish Gupta</a
        >
        &
        <a
          href="https://www.linkedin.com/in/yash-kumar-baghel-engg"
          target="_blank"
          >Yash Kumar Baghel</a
        >
      </p>
    </div>
  </div>
</footer>
