<header class="navbar">
  <a href="home.html" class="logo">NIC Institute</a>
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
      >&times;</a
    >
    <a href="home.html">Home</a>
    <a href="ignou.html">IGNOU Institute</a>
    <a href="bosse.html">BOSSE</a>
    <a href="happyHolySchool.html">Happy Holy School</a>
    <a href="computerEducation.html">Computer Education</a>
    <a href="about.html">About NIC</a>
    <a href="jbt.html">J.B.T. | B.Ed | LLB</a>
    <a href="contact.html">Contact</a>
    <a href="courses.html">Courses</a>
    <a href="achievements.html">Achievements</a>
  </div>
  <button class="openbtn" onclick="openNav()">&#9776;</button>
</header>
